
<tr>
    <td><%= link_to user.full_name, user %></td>
    <td><%= link_to user.email, user %></td>
    <td><%= link_to user.admin, user %></td>
    <td><%= link_to user.approved, user %></td>
    <td><%= link_to "Edit", edit_user_path(user) %></td>
</tr>
